.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-family: sans-serif;
}

.monitor-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
  color:#000
}

.monitor-content {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.monitor-info {
  flex: 1;
}

.chart-container {
  flex: 2;
}

.button-group button {
  margin-right: 10px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  background-color: #4fc3f7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #4fc3f7;
}

.bounds-header {
  margin-left: 1rem;
  margin-top: 5rem;
  padding: 1rem;
  padding-right: 35rem;
}