#root {
  background-color: #181c24;
  color: #e0e0e0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.menu-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Título */
.welcome-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4fc3f7;
  margin-bottom: 0.15rem;
  margin-top: 2.5rem;
  text-align: center;
}

.welcome-subtitle {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: center;
}

/* Grid de cards */
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Estilo dos cards */
.card {
  background-color: #2328233a;
  cursor: default;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card.selected {
  border-color: #3b82f6;
  background-color: #eff6ff;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4fc3f7;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.95rem;
  color: #ffffff;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.card-button {
  background-color: #4fc3f7;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}


.card-button:hover {
  background-color: #1e293b;
  cursor: pointer;
}
